
{% extends "base.html" %}

{% block content %}
<head>
    
</head>
<section class="">  
    <div class="row container-fluid pl-5">
        <div class="container text-center mt-2">
            <div class="shadowbox border-0">
                <h3 class="text-primary" style="font-family:Georgia, 'Times New Roman', Times, serif">{{todolist}}</h3>
            </div>
            <div>
                        <!--------------show list items-------------->
                        </div>
                        <div class="row container-fluid pl-5">
                            <div class="container-fluid text-center p-2 my-3">
                            <div class="">
                                
                            </div>
                            </div>
                            </div>
                    
                            <div class="row container-fluid pl-5">
                            <div class="container p-1 my-3">
                            <ul class="list-group">
                                {% for i in all %}
                                <li class="list-group-item d-flex justify-content-between text-primary align-items-center">
                                    {{i.content}}[ {{i.description}} ]
                                    <span class="">
                                        <form action="/deletelistitem/{{i.id}}/{{todolist.id}}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-primary my-2 my-sm-0" value="add" type="submit">delete</button>
                                        </form>
                                    </span>
                                </li>
                                {% empty %}
                                <h4>You have no lists!</h4>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>         
                        <!--------------add more items button-------------->

                        <form action="{% url 'addmoreitems' todolist.id %}" method="post">
                            {% csrf_token %}
                            <span><button class="btn btn-outline-primary my-2 my-sm-0">add more to the list</button></span>
                        </form>
                    </div>
            </div>
        </div>
    </div>          
</section>

{% endblock %}