{% extends "base.html" %}
{% block content %}
<section class="pl-5">  
    <div class="row container-fluid pl-5">
        <div class="container-fluid text-center p-2 my-3">
        <div class="">
            <nav class="navbar rounded text-center  bg-white container p-3 ">
                <form class="form-inline" action="/addtodoitem/" method='post'>
                    {% csrf_token %}
                <span class="pl-5 pr-5">
                    <input class="form-control text-center mr-sm-2" type="text" name="content" placeholder="Create a new plan..." >
                </span>
                <span class="pl-5 p-3 pr-5">
                    <input class="rounded border-white border-0 p-1 border-shadow-white text-white bg-primary" name="datetime" type="datetime-local">

                </span>
                <span class="pl-5 pr-5">
                    <div>
                        <input class="form-check-input  " type="checkbox" name="logicalcb" id="checkboxNoLabel" value="" aria-label="...">logical
                    </div>
                </span>
                <span class="pl-3 pr-5">
                    <div>
                        <input class="form-check-input mr-sm-2" type="checkbox" name="creativecb" id="checkboxNoLabel" value="" aria-label="...">creative
                    </div>
                </span>
                
                <span class="pl-3 pr-5">
                    <button class="btn text-center text-2 btn-outline-primary my-2 my-sm-0" value="add" type="submit">&plus;</button>
                </span>
                </form>
            </nav>
        </div>
        </div>
        </div>

        <div class="row container-fluid pl-5">
        <div class="container p-2 my-3">
        <ul class="list-group">
            {% for i in all_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/todoitem-list/{{i.id}}">{{i.title}}</a>
                <span class="">
                    <form action="deleteitem/{{i.id}}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary my-2 my-sm-0" value="add" type="submit">delete</button>
                        
                    </form>
                </span>
            </li>
            {% empty %}
            <h4>You have no lists!</h4>
            {% endfor %}
        
        </ul>
    </div>
</div>          
</section>
{% endblock %}