
{% extends "base.html" %}

{% block content %}
<head>
    <style>
        .shadowbox {
           
            border: 1px solid rgb(16, 23, 27);
            box-shadow: 8px 8px 5px rgb(154, 194, 255);
            padding: 8px 12px;
            background-image: linear-gradient(180deg, #fff, rgb(252, 252, 252) 40%, rgb(148, 165, 182));
          }
          
    </style>
</head>
<hr>
<section class="">  
    <div class="row container-fluid pl-5">
        <div class="container-fluid text-center p-2 my-3">
            <h3 class="text-primary" style="font-family:Georgia, 'Times New Roman', Times, serif">{{todolist}}</h3>
            <div>
                    <div>
                        <h5></h5>

                        <!--------------show list items-------------->

                        <div class="row">
                                {% for i in all %}
                                <span class="pl-3 pr-5">
                                    <div class="shadowbox border-0">
                                        <ul>
                                            <li>
                                                <h5 class="text-dark" style="font-family:Georgia, 'Times New Roman', Times, serif;">{{i.content}}  ({{i.description}})</h5>
                                            </li>
                                        </ul>
                                        
                                    </div><br>
                                </span>
                                {% empty %}
                                
                                {% endfor %}
                        
                        </div>
                        <div class="row container-fluid pl-5">
                            <div class="container-fluid text-center p-2 my-3">
                            <div class="">
                                
                            </div>
                            </div>
                            </div>
                    
                            <div class="row container-fluid pl-5">
                            <div class="container p-2 my-3">
                            <ul class="list-group">
                                {% for i in all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="">{{i.content}}[{{i.description}}]</a>
                                    <span class="">
                                        <form action="/deletelistitem/{{i.id}}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-outline-primary my-2 my-sm-0" value="add" type="submit">delete</button>
                                        </form>
                                    </span>
                                </li>
                                {% empty %}
                                <h4>You have no lists!</h4>
                                {% endfor %}
                            
                            </ul>
                        </div>
                    </div>         

                        <!--------------add more items button-------------->

                        <form action="{% url 'addmoreitems' todolist.id %}" method="post">
                            {% csrf_token %}
                            <span><button class="btn btn-outline-primary my-2 my-sm-0">add more to the list</button></span>
                        </form>
                    </div>
            </div>
        </div>
    </div>          
</section>

{% endblock %}