{% extends "base.html" %}
{% block content %}
<head>

</head>

<html>
    <body>
  
<section class="pl-5"> <p class=" text-right text-primary pr-5"> {{today}}</p>
    <div class="row container-fluid pl-5">
        <div class="container-fluid text-center pl-2 pr-2 my-3">
            <nav class="navbar rounded bg-white container pl-3 pr-3 ">
                <form class="form-inline" action="/addtodoitem/" method='post'>
                {% csrf_token %}
                
                <span class=" text-primary">
                    <span class="pl-3"></span><input class="form-control mr-sm-2 border-primary" type="text" size="40" name="content" placeholder="Add a new list.." >
                </span>
                <span class="pl-3  pr-5">
                    
                    <button class="btn   text-2 btn-outline-primary my-2 my-sm-0" value="add" type="submit">Add&plus;</button>
                </span>
                </form>
            </nav>
        </div>
        </div>
        <div class="row container-fluid pl-5">
        <div class="container pl-2 pr-2 my-3">
        <ul class="list-group">
            {% for i in all_lists %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/todoitem-list/{{i.id}}">{{i.title}} 

                   

                </a>
                <span class="">
                    <form action="deleteitem/{{i.id}}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary my-2 my-sm-0" value="add" type="submit">delete</button>  
                    </form>
                </span>
            </li>
            {% empty %}
            <h4>You have no lists!</h4>
            {% endfor %}
        </ul>
    </div>
</div>          
</section>
</body>
</html>
{% endblock %}
  
